# Backend App
API_PORT=5001
NODE_ENV=development

# postgres
PSQL_HOST=postgres
PSQL_PORT=5432
PSQL_DB_NAME=sessionreplay
PSQL_USER=user
PSQL_PASSWORD=password

# Redis
REDIS_URL=redis://default:redis_password@redis:6379
REDIS_PASSWORD=redis_password

# S3 (MinIO)
S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET_NAME=team4helios

##########
# FOR DOCKER-COMPOSE
REACT_PORT=5173
REDIS_PORT=6379
REDIS_INSIGHT_PORT=8001
S3_PORT=9000
S3_CONSOLE_PORT=9001
REDIS_PASSWORD='7gP9jfrL6vWxmdttqsny8bDFk38U2QrN'

# FOR THE BACKEND (...and docker-compose...)
OPENAI_API_KEY=''

S3_REGION=us-east-1 # Can be any valid region during local development with MinIO