.alertContainer {
  width: 300px;
  height: 40px;
  outline: 2px solid rgb(248, 99, 101);
  background-color: var(--providence-light-red);
  color: var(--providence-black);
  text-align: center;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 16px;
  border-radius: 8px;
}
