.headerContainer {
  grid-area: header;
}

.mainPageWrapper {
  display: grid;
  height: 100svh;
  grid-template-columns: 310px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  padding-bottom: 12px;
  width: clamp(600px, 100%, 1440px);
  margin-left: auto;
  margin-right: auto;
}

.player {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 16px;
  padding-bottom: 4px;
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  overflow: scroll;
  border-radius: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--providence-red) var(--providence-black);
}
