.sessionCard {
  width: 280px;
  height: 200px;
  /* background-color: var(--providence-white); */
  /* background-image: linear-gradient(to right bottom, #f45c5c, #ff8551, #ffaf50, #ffd85f, #f5ff80);; */
  margin: auto;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--providence-white);
  border-bottom: 3px solid #ffd85f;
  border-right: 3px solid #ffd85f;
}

.sessionCard:focus {
  border-top: 3px solid var(--providence-red);
  border-left: 3px solid var(--providence-red);
}

.sessionCard:hover {
  box-shadow: 1.2px 2.2px 12px var(--providence-red),
    0px 0.6px 1.8px 0px var(--providence-red);
}
